{
	"extends": ["airbnb"],
	"env": {
		"browser": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": ["react"],
	"rules": {
		"semi": [2, "never"],
		"react/jsx-one-expression-per-line": "off",
		"jsx-a11y/label-has-for": "off",
		"jsx-a11y/label-has-associated-control": "off",
		"react/no-array-index-key": "off",
		"operator-linebreak": "off",
		"no-unused-expressions": "off",
		"react/forbid-prop-types": "off",
		"react/require-default-props": "off",
		"react/destructuring-assignment": "off",
		"react/sort-comp": "off",
		"class-methods-use-this": "off",
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"no-tabs": "off",
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"],
		"import/prefer-default-export": "off",
		"react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
		"react/no-multi-comp": [0],
		"arrow-parens": [0],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"implicit-arrow-linebreak": "off"
}
